body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav {
  display: flex;
  list-style: none;
  background-color: red;
  margin: 0;
  padding: 2em 1em;
}

.nav li {
  padding: 0 0.5em;
}

.nav li a {
  text-decoration: none;
  color: white;
}

.main {
  padding: 2em 1.5em;
}

.home span {
  color: gray;
  font-style: italic;
}
